.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.social-container {
  background: hsl(36, 100%, 51%) ;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color:white;
}

a.facebook {
  color: black;
}

a.twitter {
  color: black;
}

a.instagram {
  color:black;
}

a.contact {    
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  padding: 5px;
  margin-bottom: 25px;
}
a.contact:hover {
  transform: translateY(-2px);
}

a.phone{
  color:black;

}
a.envelope{
  color:black;
}
.card{
  padding: 25px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-body{
  text-align: center;
  padding: 25px;
}
.para{
  font-style: italic;
}
.item{
  text-align: center;
}
.prop{
  text-align: right;
  display: inline-block;
}
.pa{
  color:black;
}
.title-ans{
  color: black;
  font-weight: bolder;
}
.title-anss{
  padding-bottom: 20px;
  font-size: 40px;
  color: black;
  font-weight: bolder;
}
.ans{
  font-weight: bolder;
  color: black;
}
.btn{

  color: black;
}
.collapse{
  padding-left: 295px;
  font-weight: normal;
  font-size: 20px;
}
.expand{
  align-items: left;
}
.error{
  padding-bottom: 50px;
}
.faq{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  font-size: 15px;
  
}
.ro{
  font-style: normal;
  padding: 10px;
  text-align: center;
}
.form{
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}